.dashboard-tasks {
  position: relative;
  width: 93%;
  float: left;
  left: 7%;
  margin: auto;
  max-height: 90vh;
  top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: 1fr min-content;
  grid-auto-flow: dense;
  grid-gap: 10px;
}
@media only screen and (max-width: 1200px) {
  .dashboard-tasks {
    left: 7%;
  }
}
.dashboard-task {
  margin: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: auto;
  overflow: hidden;
  float: left;
  background: linear-gradient(
    167deg,
    rgba(3, 10, 25, 1) 0%,
    rgba(23, 40, 72, 1) 100%
  );

  border-radius: 13px;
  -webkit-box-shadow: 6px 6px 15px -1px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 6px 6px 15px -1px rgba(0, 0, 0, 0.37);
  box-shadow: 6px 6px 15px -1px rgba(0, 0, 0, 0.37);
  transition: ease 0.3s;
}
.dashboard-task h3 {
  position: relative;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  vertical-align: middle;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.dashboard-task {
  height: 350px;
  width: 250px;
}

.dashboard-task h3 {
  text-align: left;
  padding-left: 5px;
  margin-top: 3px;
  font-size: 25px;
}
.dashboard-task h3 {
  height: 30px;
  line-height: 30px;
}
.dashboard-task-content {
  width: 85%;
  margin: auto;
}
.dashboard-task label {
  padding-top: 34px;
  cursor: pointer;
  font-size: 12px;
  padding-left: 7px;
  font-weight: bold;
  color: #8e8e8e;
  text-align: left;
  font-family: "Roboto", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.dashboard-task-line {
  height: 7px;
  width: 100%;
  border-radius: 4px;
  background-color: #495972;
  margin-top: 5px;
  margin-bottom: 5px;
}
.dashboard-task-inline-1,
.dashboard-task-inline-2,
.dashboard-task-inline-3,
.dashboard-task-inline-4,
.dashboard-task-inline-5 {
  height: 7px;
  float: left;
  border-radius: 4px;
  background: linear-gradient(
    135deg,
    rgba(255, 187, 0, 1) 0%,
    rgba(255, 0, 69, 1) 100%
  );
}

.dashboard-task-inline-1 {
  width: 20%;
}
.dashboard-task-inline-2 {
  width: 40%;
}
.dashboard-task-inline-3 {
  width: 60%;
}
.dashboard-task-inline-4 {
  width: 80%;
}
.dashboard-task-inline-5 {
  width: 100%;
}

.dashboard-task p {
  cursor: pointer;
  z-index: 100;
  padding-left: 7px;

  width: 75%;
  color: #fff;
  text-align: left;
  font-family: "Roboto", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.dashboard-task p {
  font-size: 15px;
  line-height: 18px;
  font-weight: "regular";
}

.dashboard-task-cover {
  position: absolute;
  z-index: 101;
  top: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(3, 10, 25, 0) 0%,
    rgba(14, 27, 51, 0) 72%,
    rgba(15, 29, 53, 0.6896008403361344) 81%,
    rgba(20, 36, 66, 0.9164915966386554) 87%,
    rgba(23, 40, 72, 1) 100%
  );
}

.dashboard-task-buttons {
  position: relative;
  top: 252px;
  float: right;
  right: 8px;
}
.dashboard-task-settings {
  position: relative;
  height: 45px;
  width: 45px;
}
.dashboard-task-settings button {
  position: relative;
  height: 45px;
  width: 45px;
  background-color: transparent;
  transition: 0.3s ease;
}
.dashboard-task-settings img {
  position: relative;
  height: 30px;
  width: 30px;
}
.dashboard-task-complete {
  position: relative;
  height: 45px;
  background-color: transparent;
  width: 45px;
}

.dashboard-task-complete button {
  position: relative;
  height: 45px;
  width: 45px;
  background: linear-gradient(
    148deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 145, 0, 1) 100%
  );
  border-radius: 25px;
  transition: 0.3s ease;
}
.dashboard-task-complete button:active {
  transform: scale(0.98);
  opacity: 0.8;
}
.dashboard-task-settings button:active {
  transform: scale(0.98);
  opacity: 0.85;
}

.dashboard-task-complete img {
  position: relative;
  height: 25px;
  width: 25px;
}
.dashboard-task-buttons button {
  outline: none;
  border: none;
}
.dashboard-task-buttons button:focus {
  outline: none;
  border: none;
}
